<!DOCTYPE html>

<html>
<head>
    <title>分享 测试用户 </title>
    <%- include ("../partials/head") %>
</head>
<%- include ("../partials/title") %>
<div id="bg_pic">
    <div id="wrap">
        <div id="mainbg">
            <div id="main">
                <%- include ("../partials/left_side") %>
                <div id="mainarea">
                    <div id="mainareafg" class="clearfix">
                        <%- include ("../partials/share_content_title") %>
                        <%- include ("../partials/share_content") %>
                        <%- include ("../partials/share_right_side") %>
                    </div>
                </div>
                <div id="bottom"></div>
            </div>
        </div>
    </div>
</div>
<%- include ("../partials/foot") %>
</html>